<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Product Shop</mat-card-title>
    </mat-card-header>
    <form (submit)="login(userInfo)">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="UserName"
            type="text"
            name="username"
            [(ngModel)]="userInfo.username"
          />
        </mat-form-field>

        <mat-form-field style="margin-top: 15px;margin-bottom: 15px" class="full-width">
          <input
            matInput
            placeholder="Password"
            type="password"
            name="password"
            [(ngModel)]="userInfo.password"
          />
        </mat-form-field>

        <span *ngIf="loginError" class="error-message" >Invalid Username Or Password</span>

      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">
          Login
        </button>
      </mat-card-actions>

    </form>

  </mat-card>
</div>
