.layout-container {
  display: flex;

  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.child-container {
  width: 100%;
  max-width: 768px
}
