<mat-toolbar>

  <span class="logo" style="cursor: pointer" [routerLink]="['/dashboard']">
    <img src="assets/logo.png" alt="logo"/>
  </span>


  <button mat-icon-button color="primary" [routerLink]="['/dashboard/cart']" matBadge="{{ cartCount$ | async }}" matBadgeColor="warn">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <span class="spacer"></span>

  <div class="search-bar">
    <mat-form-field  >
      <mat-label>Search Products</mat-label>
      <input matInput (keyup)="search($event)" placeholder="Enter product name" (keyup.enter)="search($event)">
      <button mat-icon-button matSuffix (click)="clearSearch()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <span class="spacer"></span>
  <button
    *ngIf="isLoggedIn$ | async"
    (click)="logout()"
    class="login"
    mat-mini-fab
    color="primary"
  >
    <mat-icon>person</mat-icon>

  </button>


</mat-toolbar>

<div class="layout-container">
  <div class="child-container">
    <router-outlet></router-outlet>
  </div>
</div>
