
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, serif !important;
}
.mat-body-1, .mat-card-title, .mat-button {
  font-family: 'IRANSans', serif !important;
}
.full-width {
  width: 100%;
}


.logo {
  margin-left: 20px;

  img {
    vertical-align: middle;
  aspect-ratio: 5/4;
    height: 35px;
    object-fit: contain;
    width: auto;
  }
}
.mat-toolbar {
  margin-bottom: 10px;
}
.spacer{
  flex: 1 1 auto;
}
.product-list {
  padding: 20px;
}

mat-card {
  width: 100%;
  img {
    vertical-align: middle;
    aspect-ratio: 5/4;
    height: auto;
    object-fit: contain;
    width: auto;
  }
}


mat-card-actions {
  justify-content: center;
}
mat-card {
  margin: 20px auto;
  max-width: 600px;
}

mat-card-actions {
  display: flex;
  align-items: center;
}

mat-icon {
  cursor: pointer;
}
table{
  width: 100%;
  padding: 1rem;
}
